:root {
    --green: #e2ecec;
    --white: #ffffff;
    --black: #6b6b6b;
  }
  .btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 45px;
    width: 60px;
    /* border-radius: 50%; */
    border: 2px solid var(--btnFontColor);
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    transition-duration: 0.4s;
  }
  .btn:hover {
    background-color: var(--btnFontColor);
    color: var(--btnBg);
  }
  .btn:focus { outline-style: none; }
  * {
    font-family: helvetica;
  }
  #rcorners {
    margin: auto;
    border-radius: 15px;
    background: var(--btnFontColor);
    padding: 20px; 
    width: 600px;
    height: 300px;  
    color: var(--bg);
  }
  
  
  body {
      background: var(--bg);
  }

body {
    font-family: monospace;
    text-align: center;
    color: var(--fontColor);
}
h1 {
  text-align: center;
}

ul {
    font-family: helvetica;
}
li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  .light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--green);
    --btnFontColor: var(--black);
  }
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
